body {
  background: #00ff00;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  font-style: italic;
}

p, b, v {
  border: 1px solid red;
}

b, strong, weak {
  font-weight: bold;
}

i, a {
  font-style: italic;
}

new {
  new: zero;
}