body {
  background: blue;
  color: blue;
  font-weight: 300;
  font-style: italic;
  border: 1px solid purple;
  text-transform: uppercase;
  text-decoration: none;
}

p {
  background: blue;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}
